node-red-flow.json
[
  {
    "id": "inject-replay",
    "type": "inject",
    "z": "iot-flow",
    "name": "Tick every 2 seconds (simulates live feed)",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 210,
    "y": 120,
    "wires": [["query-next-batch"]]
  },
  {
    "id": "query-next-batch",
    "type": "function",
    "z": "iot-flow",
    "name": "Build next-window query",
    "func": "const cursor = flow.get('replay_cursor') || '2025-01-01T00:00:00';\nconst windowEnd = new Date(new Date(cursor).getTime() + 120000).toISOString();\nflow.set('replay_cursor', windowEnd);\nmsg.payload = {\n  text: `SELECT * FROM sensor_readings\n         WHERE time >= $1 AND time < $2\n         ORDER BY time, machine_id`,\n  values: [cursor, windowEnd]\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 120,
    "wires": [["tsdb-read"]]
  },
  {
    "id": "tsdb-read",
    "type": "postgresql",
    "z": "iot-flow",
    "name": "Read from TimescaleDB",
    "query": "payload",
    "postgreSQLConfig": "tsdb-config",
    "x": 710,
    "y": 120,
    "wires": [["split-rows"]]
  },
  {
    "id": "tsdb-config",
    "type": "postgresql-config",
    "name": "TimescaleDB",
    "host": "localhost",
    "port": "5432",
    "database": "fm_iot",
    "user": "fm_iot_user",
    "password": "your_secure_password",
    "ssl": false
  },
  {
    "id": "split-rows",
    "type": "split",
    "z": "iot-flow",
    "name": "One message per row",
    "splt": "\\n",
    "splt_type": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 200,
    "y": 240,
    "wires": [["enrich-and-route"]]
  },
  {
    "id": "enrich-and-route",
    "type": "function",
    "z": "iot-flow",
    "name": "Enrich + Route",
    "func": "const r = msg.payload;\nconst enriched = {\n  machine_id: r.machine_id,\n  timestamp: r.time,\n  metrics: {\n    temperature:        r.temperature,\n    vibration:          r.vibration,\n    humidity:           r.humidity,\n    pressure:           r.pressure,\n    energy_consumption: r.energy_consumption\n  },\n  status: r.machine_status,\n  anomaly_flag: r.anomaly_flag,\n  predicted_remaining_life: r.predicted_remaining_life,\n  failure_type: r.failure_type,\n  downtime_risk: r.downtime_risk,\n  maintenance_required: r.maintenance_required\n};\nmsg.payload = enriched;\n\nif (r.anomaly_flag || r.downtime_risk >= 0.9) {\n  return [null, msg, null];  // → Alert path\n} else if (r.maintenance_required) {\n  return [null, null, msg];  // → Maintenance path\n} else {\n  return [msg, null, null];  // → Normal path\n}",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 240,
    "wires": [
      ["publish-live-ui"],
      ["create-wo-alert"],
      ["create-maintenance-wr"]
    ]
  },
  {
    "id": "publish-live-ui",
    "type": "function",
    "z": "iot-flow",
    "name": "Push to Frappe Realtime",
    "func": "msg.method = 'POST';\nmsg.url = process.env.FRAPPE_URL + \n  '/api/method/quantbit_facility_management.api.iot.publish_sensor_update';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'Authorization': process.env.FRAPPE_API\n};\nmsg.payload = msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 200,
    "wires": [["http-frappe-realtime"]]
  },
  {
    "id": "create-wo-alert",
    "type": "function",
    "z": "iot-flow",
    "name": "Build WO payload",
    "func": "const r = msg.payload;\nmsg.method = 'POST';\nmsg.url = process.env.FRAPPE_URL + '/api/resource/Work Order';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'Authorization': process.env.FRAPPE_API\n};\nconst failureLabel = r.failure_type !== 'Normal' ? r.failure_type : 'Anomaly Detected';\nmsg.payload = {\n  wo_title: `[AUTO] ${failureLabel} — Machine ${r.machine_id}`,\n  asset_code: `MACHINE-${String(r.machine_id).padStart(3,'0')}`,\n  actual_priority: r.downtime_risk >= 0.9 ? 'P1 - Critical' : 'P2 - High',\n  status: 'Open',\n  wo_source: 'IoT Alert',\n  description: [\n    `Failure Type: ${r.failure_type}`,\n    `Anomaly Flag: ${r.anomaly_flag}`,\n    `Downtime Risk: ${(r.downtime_risk * 100).toFixed(0)}%`,\n    `Predicted Life Remaining: ${r.predicted_remaining_life}h`,\n    `Temperature: ${r.metrics.temperature}°C`,\n    `Vibration: ${r.metrics.vibration} mm/s`,\n    `Pressure: ${r.metrics.pressure} bar`,\n    `Timestamp: ${r.timestamp}`\n  ].join('\\n')\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 260,
    "wires": [["http-frappe-realtime"]]
  },
  {
    "id": "create-maintenance-wr",
    "type": "function",
    "z": "iot-flow",
    "name": "Build WR payload",
    "func": "const r = msg.payload;\nmsg.method = 'POST';\nmsg.url = process.env.FRAPPE_URL + '/api/resource/Service Request';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'Authorization': process.env.FRAPPE_API\n};\nmsg.payload = {\n  title: `[IOT] Preventive Maintenance — Machine ${r.machine_id}`,\n  asset: `MACHINE-${String(r.machine_id).padStart(3,'0')}`,\n  priority: 'P3 - Medium',\n  description: `Automated preventive maintenance request based on predicted remaining life: ${r.predicted_remaining_life}h.`\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 320,
    "wires": [["http-frappe-realtime"]]
  },
  {
    "id": "http-frappe-realtime",
    "type": "http request",
    "z": "iot-flow",
    "name": "POST to Frappe",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 950,
    "y": 240,
    "wires": [[]]
  }
]
